:root {
  --blue: #2596be;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
  font-size: 36px;
}

.title:hover {
  color: #fff;
  background-color: var(--blue);
}

.title.active {
  color: var(--blue);
}

.link {
  padding-top: 20px;
  color: var(--blue);
  text-decoration: none;
  font-size: 24px;
}

.link:hover {
  color: var(--blue);
  font-weight: bold;
}

.link.active {
  color: var(--blue);
}

ul {
  list-style-type: none;
}

.section {
  margin: 0 auto;
  text-align: center;
  background-color: var(--blue);
  padding: 25px;
  color: #fff;
  width: 80%;
}

.footer {
  background-color: var(--blue);
  color: #fff;
  font-size: 32px;
  padding: 40px;
  text-align: center;
  position: relative; 
  bottom: 0; 
  width: 100%
}

.manyForms {
  background-color: var(--blue);
  color: #fff;
  text-align: center;
  padding: 50px;
}

.break {
  background-color: var(--blue);
  border-color: var(--blue);
  border: #fff;
  padding: 50px;
}

.blank {
  padding: 10px;
  background-color: #fff;
  border-color: #fff;
}

button {
  font-size: 15px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

button:hover {
  color: var(--blue);
  background-color: #fff;
  font-weight: bold;
  border: 1px solid var(--blue);
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

.social {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.socialMedia:hover {
  opacity: 0.5;
}

.text {
  color: var(--blue);
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}