:root {
  --blue: #2596be;
}

.cart {
  position: fixed;
  top: 17%;
  right: 5%;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: #fff;
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem var(--blue);
  border-bottom-left-radius: .5rem;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--blue);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 17%;
  right: 5%;
  font-size: 2rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

@media screen and (max-width: 900px) {
  .cart {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    position: relative;
    max-width: 100%;
    box-shadow: none;
    background-color: inherit; 
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}